p,h2{
	font-family: 'Lato', Helvetica, sans-serif;
}

p{
	font-size: 120%;
}
body{
	margin-left: 40px;
	height: 506px;
}

.dot:hover{
	opacity: 0.7;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.label {
	fill: #777;
}

.year.label {
	font: 500 156px "Helvetica Neue";
	fill: #ddd;
}

.year.label.active {
	fill: #aaa;
}

.overlay {
	fill: none;
	pointer-events: all;
	cursor: ew-resize;
}
circle{
	stroke: none;
}
	text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 0;
  left: 120px;
  margin: 0;
  top: 600px;
}

path:hover{
  opacity: 0.7;
}
