html,p,h2{
	font-family: 'Lato', Helvetica, sans-serif;
}

p{
	font-size: 120%;
}
.content{
	margin-right: 100px;
	top:0; bottom:0; left:0; right:0; 
    width: 1000px;
    height: 1200px;
}
.trac{
	fill: #DCDCDC;
	stroke: white;
}

.adhoc{
	fill: steelBlue;
	stroke: none;
}
#timeline{
	position: absolute;
	margin-top: 35px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.label {
	fill: #777;
}

.year.label {
	font: 500 156px "Helvetica Neue";
	fill: #ddd;
}

.year.label.active {
	fill: #aaa;
}

.overlay {
	fill: none;
	pointer-events: all;
	cursor: ew-resize;
}
circle{
	stroke: none;
}

text {
  	font: 15px 'Lato';
}

form {
  position: absolute;
  padding-left: 5px;
  top: 600px;
}
label{
	padding: 2px;
}

